/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

.wrapper {
	min-height: 100%;
    display: flex;
	flex-direction: column;
}
main {
    flex: 1 1 auto;
}
._ibg{
	position: relative;
}
._ibg img{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
._text {
    font-family: 'Inter';
    font-style: normal;
    color: #000;
}
._container {
    max-width: 1482px;
    padding: 0 20px;
    margin: 0 auto;
}
.footer {
    background: #E5E5E5; 
 }
/*-----------------header----------------------------*/
.wrapper {
    
}
.main__info {
	background: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
	max-width: 100%;
}
.head__container {
    display: flex;
	justify-content: space-between;
	align-items: center;
	max-height: 183px;
}
.head__text {
	display: flex;
	gap: 47px;
	align-items: center;
}
.head__title {
	font-weight: 500;
	font-size: 23px;
	line-height: calc(28/23*100%);
}
.head__subtitle {
	font-weight: 400;
	font-size: 18px;
	line-height: calc(22/18*100%);
}
.head__logo_back {
	position: relative;
	height: 183px;
	width: 235px;
	background: #FFFFFF;
	box-shadow: 0px 4px 103px rgba(0, 0, 0, 0.18);
	border-radius: 0 0 62px 62px;
}
.head__logo_back img {
	position: absolute;
	top: 10%;
	left: 23%;
}
.head__social {
	display: flex;
	gap: 102px;
}
.head__social_items {
	display: flex;
	gap: 46px;
}
.social_item {
	background: #ffffff;
	box-shadow: 0px 4px 103px rgba(0, 0, 0, 0.18);
	border-radius: 20px;
	transition: 0.5s;
}
.social_item:hover {
	background: #ade5ff;
}
.head__item_telegram a {
	display: flex;
	padding: 7px 28px 8px 24px;
}
.head__item_whatsapp a {
	display: flex;
	padding: 9px 29px 12px 29px;
}
.head__tel {
	font-weight: 500;
	font-size: 23px;
	line-height: calc(28*23/100%);
}
.head__time-work {
	font-weight: 400;
	font-size: 15px;
	line-height: calc(18*15/100%);
}
/*-----------------header_adaptive------------------*/
@media (max-width: 1135.98px) {
	.head__text {
		gap: 20px;
	}
	.head__social {
		gap: 40px;
	}
	.head__social_items {
		display: flex;
		gap: 20px;
	}
}
@media (max-width: 1017.98px) {
	.head__text {
		display: none;
	}
	.head__container {
		justify-content: space-around;
		align-items: center;
	}
}
@media (max-width: 698.98px) {
	.head__container {
		justify-content: space-around;
		align-items: center;
	}
	.head__social {
		flex-wrap: wrap;
		flex-direction: column-reverse;
		gap: 16px;
		align-items: center;
	}
}
@media (max-width: 509.98px) {
	.head__logo_back {
		height: 150px;
		width: 190px;
	}
	.head__logo_back img {
		top: 5%;
		left: 16%;
	}
}
@media (max-width: 439.98px) {
	._container {
		padding: 0 5px;
	}
	.head__container {
		justify-content: space-evenly;
	}
	.head__logo_back {
		height: 135px;
		width: 150px;
	}
	.head__logo_back img {
		top: 2%;
		left: 7%;
	}
	.head__item_telegram a {
		display: flex;
		padding: 7px 18px 8px 18px;
	}
	.head__item_whatsapp a {
		display: flex;
		padding: 9px 18px 12px 18px;
	}
	.head__tel {
		font-weight: 400;
		font-size: 18px;
		line-height: calc(28*18/100%);
	}
}
/*-----------------main_info------------------*/

.info__block {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.info__block__title {
	font-weight: 900;
	font-size: 78px;
	line-height: calc(94*78/100%);
	text-align: center;
	margin-top: 17px;
}
.info__block__subtitle {
	font-weight: 500;
	font-size: 50px;
	line-height: calc(61*50/100%);
	text-align: center;
	margin-top: 38px;
}
.info__block__about {
	display: flex;
	justify-content: center;
	margin-top: 38px;
}
.info__block__box {
	display: flex;
	justify-content: center;
	flex: 0 1 45%;
	gap: 44px;
}
.info__block__about_box {
	display: flex;
	gap: 20px;
	align-items: center;
	min-width: 180px;
}
.info__block__about_box-text {
	font-weight: 400;
	font-size: 15px;
	line-height: calc(18*15/100%);
	color: #868686;
}
/*-----------------about_adaptive------------------*/
@media (max-width: 1135.98px) {
	.info__block__title {
		font-size: 60px;
		margin-top: 10px;
	}
	.info__block__subtitle {
		font-size: 45px;
		margin-top: 15px;
	}
	.info__block__about {
		display: flex;
		justify-content: space-around;
		gap: 30px;
		margin-top: 20px;
	}
	.info__block__about_box {
		flex: 0 1 50%;
		gap: 10px;
	}
	.info__block__box {
		gap: 20px;
	}
	
}
@media (max-width: 1017.98px) {
	.info__block__title {
		font-size: 60px;
		margin-top: 10px;
	}
	.info__block__subtitle {
		font-size: 45px;
		margin-top: 15px;
	}
	.info__block__about {
		flex-wrap: wrap;
		gap: 10px;
		margin-top: 20px;
		justify-content: center;
	}
	.info__block__box {
		flex: 0 1 100%;
		gap: 15px;
	}
}
@media (max-width: 698.98px) {
	.info__block__title {
		font-size: 50px;
		margin-top: 10px;
	}
	.info__block__subtitle {
		font-size: 35px;
		margin-top: 15px;
	}
}
@media (max-width: 568.98px) {
	.info__block__about_box {
		display: flex;
		flex: 0 1 100%;
		gap: 10px;
		align-items: center;
		min-width: 130px;
	}
	.info__block__box {
		gap: 10px;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	.info__block__title {
		font-size: 35px;
		margin-top: 10px;
	}
	.info__block__subtitle {
		font-size: 23px;
		margin-top: 10px;
	}
}
/*-----------------main_price------------------*/
.price {
	position: relative;
	z-index: 2;
}
.price__title {
	font-weight: 500;
	font-size: 30px;
	line-height: calc(36*30/100%);
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	margin-top: 65px;
}
.price__title__subtitle {
	font-weight: 500;
	font-size: 21px;
	line-height: calc(25*21/100%);
	text-align: center;
	margin-top: 26px;
}
.price__form-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 40px;
}
.price__enter-form {
	display: flex;
	gap: 10px;
}
.price__enter-form input {
	padding: 39px 0px 39px 18px;
	border-radius: 20px;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	background: #FFFFFF;
	min-width: 296px;	
	transition: 0.2s;
}
.price__enter-form input:hover {
	box-shadow: 0 0 5px 2px #ade5ff;
	color: #004768;
}
.price__button {
	display: block;
	margin-top: 29px;
	background: linear-gradient(85.47deg, #09498D -44.96%, #1478E2 70.41%, rgba(20, 120, 226, 0) 163.67%);
	box-shadow: inset 0px -3px 2px rgba(0, 0, 0, 0.15);
	border-radius: 20px;
	transition: 0.2s;
}
.price__button:hover {
	box-shadow: 0 0 5px 2px #ade5ff;
}
.price__button a {
	display: flex;
	padding: 36px 155px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	color: #FFFFFF;
}
.price__check-box {
	margin-top: 29px;
	padding: 10px;
	margin-bottom: 136px;
	border-radius: 20px;
	transition: 0.2s;
}
.price__check-box p {
	font-family: 'Inter';
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #000000;
	opacity: 0.17;
}
.price__check-box:hover {
	box-shadow: 0 0 5px 2px #ade5ff;
}
.price__pictures {
	display: flex;
}
.price__pictures__left {
	position: absolute;
	top: -10%;
	left: 0;
	z-index: -2;
}
.price__pictures__right {
	position: absolute;
	top: 0;
	right: 0;
	z-index: -2;
}
/*-----------------main_price_adaptive------------------*/
@media (max-width: 995.98px) {
	.price__pictures {
		display: none;
	}
}
@media (max-width: 639.98px) {
	.price__title {
		margin-top: 20px;
	}
	.price__enter-form {
		flex-wrap: wrap;
	}
	.price__enter-form input {
		width: 100%;
	}
	.price__button {
		margin-top: 10px;
	}
	.price__check-box {
		margin-top: 10px;
		padding: 5px;
	}
	.price__button a {
		padding: 28px 140px;
	}
}
@media (max-width: 559.98px) {
	.price__button a {
		padding: 20px 120px;
	}
	.price__enter-form input {
		padding: 30px 0px 30px 18px;
	}
}
@media (max-width: 459.98px) {
	.price__button a {
		padding: 20px 80px;
	}
	.price__title {
		font-size: 22px;
		line-height: calc(27*22/100%);
	}
	.price__title__subtitle {
		font-size: 19px;
		line-height: calc(25*19/100%);
		margin-top: 15px;
	}
	.price__form-box {
		margin-top: 15px;
	}
}
@media (max-width: 348.98px) {
	.price__button a {
		padding: 15px 60px;
	}
}
/*-----------------main_quality------------------*/
.quality__card {
	display: flex;
	padding: 0 10px;
}
.quality__two-card {
	position: relative;
	top: 0%;
	left: 50%;
	transform: translate(-100%, -50%);
	display: flex;
	flex: 0 1 50%;
	max-width: 518px;
	min-height: 185px;
	background: linear-gradient(88.13deg, #252525 -42.06%, #3A3A3A 72.1%, rgba(50, 50, 50, 0.87) 164.38%);
	box-shadow: inset 0px -3px 2px rgba(0, 0, 0, 0.15);
	padding: 0 15px 10px 0;
	z-index: 5;
}
._box-left {
	border-radius: 20px 0px 0px 20px;
}
._box-right {
	border-radius: 0px 20px 20px 0px;
}
.img_box-left {
	position: absolute;
	top: 29px;
	left: 5%;
}
.img_box-right {
	position: absolute;
	top: 50px;
	left: 7%;
}
.two-card__box_text {
	padding-left: 150px;
}
.box__text_title {
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
	padding-top: 45px;
	padding-bottom: 17px;
}
.box__text_text {
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
}
.quality__two-card {
}
@media (max-width: 995.98px) {
	.quality__card {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
	}
	._box-left {
		border-radius: 20px;
	}
	._box-right {
		border-radius: 20px;
	}
	.quality__two-card {
		top: 0%;
		left: 0%;
		transform: translate(0%, -50%);
		max-width: 590px;
		min-height: 185px;
		z-index: 5;
	}
}
@media (max-width: 639.98px) {
	.quality__two-card {
		top: 0%;
		left: 0%;
		transform: translate(0%, -50%);
		min-width: 300px;
		min-height: 153px;
		z-index: 5;
		margin: 0 10px;
	}
	.img_box-left {
		position: absolute;
		top: 29px;
		left: 3%;
	}
	.img_box-right {
		position: absolute;
		top: 50px;
		left: 5%;
	}
	.two-card__box_text {
		padding-left: 130px;
	}
}
@media (max-width: 459.98px) {
	.quality__card {
		gap: 40px;
	}
	
}
@media (max-width: 388.98px) {
	.quality__card {
		gap: 50px;
	}
}
/*----------main_work-----------------------*/
.work_container {
}
.work__title {
	position: relative;
	width: 100%;
	font-weight: 500;
	font-size: 39px;
	line-height: calc(47*39/100%);
	text-align: center;
	z-index: 5;
	margin-bottom: 25px;
}
.work__info {
	position: relative;
}
.certificate__button {
	position: absolute;
	top: 250px;
	left: 15%;
	display: inline-flex;
	padding: 16px 12px;
	background: #FFFFFF;
	box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.18);
	border-radius: 20px;
	z-index: 6;
}
.certificate__button p {
	font-weight: 500;
	font-size: 12px;
	line-height: calc(15*12/100%);
	text-decoration-line: underline;
}
.certificate__img {
	position: relative;
	top: 0px;
	left: 11%;
	width: 100%;
	height: 100%;
	z-index: 5;
}
.work__equipment-box {
	z-index: 4;
}
.work__equipment {
	position: absolute;
	top: -50px;
	left: 35%;
	width: 100%;
	height: 100%;
	z-index: 4;
}
.work__text {
	position: absolute;
	top: 25px;
	right: 10%;
	max-width: 251px;
	display: flex;
	flex-direction: column;
	gap: 11px;
	z-index: 5;
}
.work__text__title {
	font-weight: 500;
	font-size: 16px;
	line-height: calc(19*16/100%);
	text-decoration-line: underline;
}
.work__text__text {
	font-weight: 500;
	font-size: 12px;
	line-height: calc(15*12/100%);
}

@media (max-width: 1135.98px) {
	.work__title {
		margin-bottom: -10px;
	}
	.certificate__button {
		top: 200px;
		left: 5%;
	}
	.certificate__img {
		left: 2%;
	}
	.work__equipment-box {
		position: relative;
		top: -100px;
		left: -10%;
		margin: 0 0 50% 0;
		z-index: 4;
	}
	.work__equipment {
		left: 15%;
	}
}
@media (max-width: 846.98px) {
	.work__info {
		position: relative;
	}
	.certificate__button-box {
		position: relative;
		top: 500px;
		left: 0;
	}
	.certificate__button {
		top: 250px;
		left: 0%;
	}
	.certificate__img {
		position: relative;
		top: -100px;
		left: -100px;
		width: 100%;
		height: 100%;
		z-index: 5;
	}
	.certificate__img img {
		width: 140%;
	}
	.work__equipment-box {
		position: relative;
		top: -200px;
		left: 0;
		width: 100%;
		margin: 0 0 50% 0;
		z-index: 4;
	}
	.work__equipment {
		position: absolute;
		top: 0px;
		left: 0%;
		width: 100%;
		height: 100%;
		z-index: 4;
	}
	.work__equipment img {
		width: 100%;
	}
	.work__text {
		position: absolute;
		top: 0%;
		left: 250px;
	}
}
@media (max-width: 639.98px) {
	.work__title {
		display: none;
	}
	.certificate__img {
		top: -150px;
		left: -170px;
	}
	.certificate__img img {
		width: 180%;
	}
	.work__equipment-box {
		position: relative;
		top: -210px;
		left: 0;
		width: 100%;
		margin: 0 0 35% 0;
		z-index: 4;
	}
}
@media (max-width: 568.98px) {
	.work__equipment-box {
		margin: 0 0 40% 0;
	}
	.work__equipment {
		top: 0px;
		left: -10%;
	}
	.work__equipment img {
		width: 120%;
	}
	.work__text {
		position: absolute;
		top: 0%;
		left: 150px;
	}
}
@media (max-width: 388.98px) {
	.certificate__img {
		top: -205px;
		left: -120px;
	}
	.certificate__img img {
		width: 180%;
	}
	.certificate__button {
		top: 100px;
		left: 50px;
	}
	.work__equipment-box {
		margin: 0 0 25% 0;
	}
	.work__equipment {
		left: -20%;
	}
	.work__text {
		position: absolute;
		top: -30px;
		left: 100px;
	}
}


.quality-three_box {
	display: flex;
	position: relative;
	z-index: 8;
}
.three_box__card {
	max-width: 1036px;
	display: flex;
	margin: 0 auto;
	gap: 20px;
}
.three_box__box_two-card {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.three_box {
	display: flex;
	min-height: 204px;
	background: linear-gradient(88.13deg, #252525 -42.06%, #3A3A3A 72.1%, rgba(50, 50, 50, 0.87) 164.38%);
	box-shadow: inset 0px -3px 2px rgba(0, 0, 0, 0.15);
	border-radius: 20px;
}
.box__text_title p {
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	color: #FFFFFF;
}
.box__text_text p {
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	text-transform: lowercase;
	color: #FFFFFF;
}
.three_box_down {	
	flex: 0 1 30%;
	background: linear-gradient(88.13deg, #252525 -42.06%, #3A3A3A 72.1%, rgba(50, 50, 50, 0.87) 164.38%);
	box-shadow: inset 0px -3px 2px rgba(0, 0, 0, 0.15);
	border-radius: 20px;
	padding: 24px 47px 24px 47px;
}
.box__text_title-down {
	margin-bottom: 24px;
}
.box__text_title-down p{
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	color: #FFFFFF;
}
.img_three_box-down2 {
	display: none;
}
@media (max-width: 846.98px) {
	.three_box__card {
		flex-wrap: wrap;
	}
	.three_box_down {
		display: flex;
		flex: 0 1 100%;
		height: 204px;
		flex-direction: row-reverse;
		padding: 0;
	}
	.three_box {
	}
	.box__text_title-down p{
		padding: 45px 0 17px 0;
	}
	.img_three_box-down2 {
		display: flex;
	}
	.img_three_box-down {
		display: none;
		
	}
	.box__text_title-down {
		margin-bottom: 0;
	}
}
/*--------------catalog__card------------------*/
.main__catalog {
	margin-top: 70px;
	background: url(../img/background2.png);
    background-repeat: no-repeat;
    background-size: cover;
	max-width: 100%;
}
.catalog {
}
.catalog__title p {
	padding: 77px 0;
	text-align: center;
	font-weight: 700;
	font-size: 39px;
	line-height: 47px;
	text-transform: uppercase;
	color: #FFFFFF;
}
.catalog__card-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 73px;
}
._card {
	width: 268px;
	height: 372px;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.74) 16.26%, rgba(0, 0, 0, 0) 62.1%), url(image.png);
	border-radius: 10px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.card__back {
	display: inline-block;
	margin: 0 16px;
}
.catalog__card1 {
	background: url(../img/back_card1.png);
}
.catalog__card2 {
	background: url(../img/back_card2.png);
}
.catalog__card3 {
	background: url(../img/back_card3.png);
}
.card__title {
	font-weight: 800;
	font-size: 16px;
	line-height: calc(19*16/100%);
	text-transform: uppercase;
	color: #FFFFFF;
}
.card__button {
	display: inline-flex;
	background: linear-gradient(85.47deg, #09498D -44.96%, #1478E2 70.41%, rgba(20, 120, 226, 0) 163.67%);
	box-shadow: inset 0px -3px 2px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	margin: 30px 0 18px 0;
	transition: 0.2s;
}
.card__button:hover {
	box-shadow: 0 0 5px 2px #ade5ff;
}
.card__button a {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	padding: 21px 13px;
}
._price2 p {
	color: #FFFFFF;
}
.price__check-box p {
	opacity: 1;
}
@media (max-width: 988.98px) {
	.catalog__card-box {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 20px;
	}
}
/*--------------footer-----------------*/
.footer__price {
	align-items: center;
}
.footer__container {
	margin-top: 108px;
}
.footer__title {
	font-weight: 500;
	font-size: 39px;
	line-height: calc(47*39/100%);
	color: #000000;
	text-align: center;
}
.footer__clients {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 38px;
	margin-top: 91px;
}
.clients__item {
}
.footer__price-phone {
	position: relative;
	top: 0;
	left: 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.footer__phone {
	position: relative;
	top: -50px;
	left: -110px;
}
@media (max-width: 1197.98px) {
	.footer__price-phone {
		position: static;
		flex-direction: column-reverse;
	}
	.footer__phone {
		position: static;
		text-align: center;
		margin-top: -20px;
	}
	.footer__phone img {
		width: 100%;
		height: 100%;
	}
}
@media (max-width: 846.98px) {
	.footer__container {
		margin-top: 35px;
	}
	.footer__clients {
		margin-top: 35px;
	}
	.footer__price {
		margin-top: -40px;
	}
}
